<button type="button" class="btn btn-info btn-lg" (click)="openModal()">Add Role</button>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
      <div class="modal-dialog" role="document">
            <div class="modal-content">
                  <div class="modalHeader">
                        <p>Role <span><button type="button" class="close" style="margin-right: 20px;" aria-label="Close" (click)="onCloseHandled()"><span
                              aria-hidden="true">&times;</span></button></span></p>
                  </div>
                  <hr style="height: 0%; width: 95%; align-self: center;">
                  <div class="modal-body">
                        <form [formGroup]="formValue">
                              <div class="form-floating mb-3">

                                    <input type="text" class="form-control" formControlName="id" id="floatingInput"
                                          placeholder="id">
                                    <label for="floatingInput">Role ID</label>
                              </div>
                              <div class="form-floating mb-3">
                                    <input type="text" class="form-control" formControlName="name" id="floatingInput"
                                          placeholder="Role Name">
                                    <label for="floatingInput">Role Name</label>
                              </div>
                              
                              <div class="form-floating mb-3">
                                    
                                    <input type="text" class="form-control" formControlName="status" id="floatingInput"
                                          placeholder="role status">
                                    <label for="floatingInput">Status</label>
                              </div>
                              <div class="form-floating mb-3">
                                    <input type="text" class="form-control" formControlName="permissions"
                                          id="exampleInputPassword1" placeholder="permissions">
                                    <label for="exampleInputPassword1">Permissions</label>
                              </div>
                        </form>
                  </div>
                  <hr style="height: 0%; width: 95%; align-self: center;">
                  <div class="modalFooter">
                        <button *ngIf="submitBtn" type="button" class="btn btn-info btn-lg"
                              (click)="addData()">Submit</button>
                        <button *ngIf="viewBtn" type="button" class="btn btn-outline-info"
                              (click)="viewData()">Close</button>
                        <button *ngIf="showUpdateBtn" type="button" (click)="updateData()"
                              class="btn btn-outline-primary">Update
                              Details</button>
                  </div>
            </div>
      </div>
</div>

<hr>

<table class="table">
      <thead style="background-color: #acf; color: black;">
            <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Status</th>
                  <th scope="col">Permissions</th>
                  <th scope="col">Action</th>
            </tr>
      </thead>
      <tbody style="background-color: rgb(225, 238, 255); color: black;">
            <tr *ngFor="let data of roleData">
                  <td>{{data.id}}</td>
                  <td>{{data.name}}</td>
                  <td>{{data.status}}</td>
                  <td>{{data.permissions}}</td>
                  <td>
                        <i class="material-icons" (click)="ViewRole(data)">visibility</i>&nbsp;
                        <i class="material-icons" (click)="updateRole(data)">edit</i>&nbsp;
                        <i class="material-icons" (click)="deleteRole(data)">delete</i>&nbsp;

                  </td>
            </tr>
      </tbody>
</table>
